<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div><nav>
        <ul>
            <a href="/login/teacher"><li>teacher login</li></a>
            <a href="/login/student"><li>student login</li></a>
            <a href="/register/student"><li>student register</li></a>
            <a href="/register/teacher"><li>teacher register</li></a>
        </ul>
    </nav></div>
    Student Login
    <form action="/login/student" method="POST" class="validated-form" novalidate>
       
        <div class="mb-3">
            <label class="form-label" for="email">Email</label>
            <input class="form-control" type="email" id="email" name="email" required>
        </div>
       
        <div class="mb-3">
            <label class="form-label" for="password">Password</label>
            <input class="form-control" type="password" id="password" name="password" required>
          
        </div>
        <button class="btn btn-success btn-block">Login</button>
    </form>
</body>
</html>